In [1]:
class student:
    pass

In [2]:
std1 = student()

In [3]:
std2 = student()

In [4]:
std1.last = 'Kaki'

In [5]:
std1.first = 'Aditya'

In [6]:
std2.last = 'Ram'
std2.first = 'Charan'

In [11]:
class student:
    def __init__(self, first, last):
        self.first = first
        self.last = last
    
    def updatename(slf):
        #slf.first = first
        #slf.last = last
        slf.full_name= slf.first + ' ' + slf.last
        return (slf.full_name)
    
    def getname(self):
        return self.full_name
    
    def grade(self):
        pass

In [17]:
std1 = student('Ram', 'Charan')

std2 = student('Raghu', 'chandra')

In [19]:
k = std1.updatename()
print(k)
print(std2.updatename())

print("From get name method : ", std1.getname())

Ram Charan
Raghu chandra
From get name method :  Ram Charan

In [20]:
print(std1.getname())
print(std1.updatename())
print(std1.getname())

Ram Charan
Ram Charan
Ram Charan

In [21]:
std1.first

'Ram'

In [22]:
std1.last

'Charan'

In [23]:
std2 = student('Ram', 'charan')

In [24]:
std2.first

'Ram'

In [25]:
std2.last

'charan'

In [26]:
print(std2.__dict__)

{'first': 'Ram', 'last': 'charan'}

In [29]:
class temp_sensors:
    value = 20
    offset = 5
    rang = [0,1]
    threshold = 0
    
    def __init__(self,first=10):
        self.first = first

In [33]:
fuel_temp = temp_senssors()
fan_temp = temp_sensors()


fan_temp.value=80
fuel_temp.value=90
print(fan_temp.value, fuel_temp.value)

80 90

In [36]:
temp_sensors.value

20

In [38]:
fan_temp.first

10

In [ ]:
fuel_temp.first

In [ ]:
class air_senssors:
    value = 20
    offset = 5
    rang = [0,500]

In [ ]:
abient_air = air_senssors()

In [ ]:
abient_air.value

In [39]:
import datetime

class employee:
    hike_amount = 1.25
    
    def __init__(self, last, first, sal):
        self.last = last
        self.first = first
        self.sal = sal
        
    def fullname(self):
        return (self.first + ' ' + self.last)
    
    def getpay(self):
        return (self.sal*employee.hike_amount)
    
    @classmethod
    def set_hike_amount(cls, amt):
        cls.hike_amount = amt
        
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True

In [40]:
employee.hike_amount

1.25

In [41]:
emp1 = employee('Aditya', 'kaki', 25000)
emp2 = employee('Aditya1', 'kaki', 2000)
emp3= employee('Aditya2', 'kaki', 5000)
print(emp1)

<__main__.employee object at 0x000002327672A7C0>

In [42]:
employee.set_hike_amount(0.8)

In [47]:
emp1.hike_amount = 20
emp1.getpay()
print(emp1.hike_amount)
print(emp2.hike_amount, emp3.hike_amount)

20
0.8 0.8

In [ ]:
emp2.getpay()

In [49]:
print(emp1.__dict__)
print(emp2.__dict__)

{'last': 'Aditya', 'first': 'kaki', 'sal': 25000, 'hike_amount': 20}
{'last': 'Aditya1', 'first': 'kaki', 'sal': 2000}

In [ ]:
print(employee.__dict__)

In [ ]:
emp1.hike_amount = 2.0

In [ ]:
emp1.getpay()

In [ ]:
print(emp1.__dict__)

In [ ]:
emp1.hike_amount = 2.0

In [ ]:
print(emp1.__dict__)

In [ ]:
emp2 = employee('Raghava', 'ram', 25000)

In [ ]:
print(emp2.__dict__)

In [ ]:
mydate = datetime.date(2022, 12, 11)

print(employee.is_workday(mydate))

In [ ]:
mydate.weekday()